<div class="container my-5">
    <div class="mb-3 p-4 bg-primary bg-gradient text-dark bg-opacity-25 rounded-5">
        <h1 class="display-4">Bienvenido {{user.first_name}} {{user.last_name}}</h1>
        <p><strong>Email:</strong> {{user.email}}</p>
        {{#if user.age}}
            <p><strong>Edad:</strong> {{user.age}}</p>
        {{/if}}
        <p><strong>Rol:</strong> {{user.role}}</p>
        <a href="/api/sessions/logout"><button class="btn btn-danger">Logout</button></a>
    </div>
    <h2 class="display-5">Productos en stock</h2>
    <a href="/carts/{{user.cart}}
" class="btn btn-primary my-3">Ir al carrito</a>
    <div class="row row-cols-3 text-center g-1" id="card-group">
        {{#each payload}}
            {{#if this.status}}
                <div class="card">
                    <img src="{{this.thumbnails}}" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">{{this.title}}</h4>
                        <p>{{this._id}}</p>
                        <p class="card-text">{{this.category}}</p>
                        <p class="card-text">{{this.description}}</p>
                        <p class="card-text fw-bold">${{this.price}}</p>
                        <button type="submit" class="btn btn-primary add-btn" value="{{this._id}}">Agregar al carrito</button>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
    <div class="my-3">
        {{#if hasPrevPage}}
            <a href={{prevLink}} class="btn btn-primary">Anterior</a>
        {{/if}}
        <span>{{page}} de {{totalPages}}</span>
        {{#if hasNextPage}}
            <a href={{nextLink}} class="btn btn-primary">Posterior</a>
        {{/if}}
    </div>
</div>

<script src="/js/products.js"></script>
<script src="js/getUser.js"></script>